@import "variables";

.menu-button {
	height: 4rem;
	width: 4rem;
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	float: right;

	&:focus {
		outline: none;
	}
}

.menu-icon {
	fill: $chromatic-dark;
}