@import "variables";

.navbar_navigation {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	padding: 0 2rem;
	background: #FFF;
	width: 100%;
	height: 56px;
	box-shadow: inset 0 -1px 0 #eee;
	float: right;
}

.navbar_navigation-logo.col-xs-6 {
	padding: 0;
}

.navbar_navigation-links.col-xs-6 {
	padding: 0;
}

.navbar_logo a {
	color: $chromatic-dark;
	font-size: 3rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 5px;
	display: none;
}

.navbar_icon #path_1 {
	fill: #2B84D8;
}

.navbar_icon #path_2 {
	fill: #9A846B;
}

.navbar_navigation-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	float: right;
}

.navbar_navigation-links li {
	padding: 0 2rem;
}

.navbar_navigation-links a {
	color: $chromatic-dark;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 2rem;
    transition: color .2s ease;
		transition-property: color;
		transition-duration: 0.2s;
		transition-timing-function: ease;
		transition-delay: 0s;

	&:hover {
		color: $cobalt-blue;
	}

}

/* Over 768px */

@media (min-width: 48rem) {

		.navbar_navigation {
		padding: 0 4rem;
	}

	.navbar_navigation-links ul {
		display: flex;
	}

	.menu-button {
		display: none;
	}

	.navbar_logo a {
		display: flex;
	}

	.navbar_icon {
		display: none;
	}

}



