@import "variables";

.side-drawer {
	height: 100%;
	background: white;
	box-shadow: 2px 0px 5px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	max-width: 300px;
	z-index: 200;
	-webkit-transform: translateX(-105%);
		transform: translateX(-105%);
	transition: transform 300ms ease-out;
}

.side-drawer.open {
	transform: translateX(0);
}

.side-drawer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
}

.side-drawer li {
	padding: 2.5rem;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.side-drawer a {
	color: $chromatic-dark;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-size: 2.5rem;
    transition: color .2s ease;

	&:hover {
		color: $cobalt-blue;
	}
}